# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.GameJamPreparation.iml
# Datasource local storage ignored files
/../../../../../../../:\Source Files\Unity File\GameJamPreparation\.idea\.idea.GameJamPreparation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
